/* Modal personalizado */
.modal-body-custom {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
  }
  
  .modal-image {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
  }
  
  .modal-description {
    flex: 1;
    font-size: 1rem;
    color: #333;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .modal-body-custom {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .modal-image {
      max-width: 100%;
    }
  }
  