.footer-container {
  width: 100vw; /* Ocupar todo el ancho de la pantalla */
  background-color: #151515;
  color: #E2E2E2;
  padding: 1.5rem 0;
  font-size: 1rem;
  position: relative; /* No es fijo */
  left: 0;
  bottom: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-icons a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.footer-icons a:hover {
  color: #ff0000; /* Cambia de color al pasar el mouse */
}

/* Bootstrap Fixes */
.container-fluid {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.row {
  margin: 0 !important;
  width: 100%;
}

.col {
  padding: 0;
}
